
/Debug
/Function/Debug
/Function/Release
/Interface/Debug
/Interface/Release
/ipch
/Lib
/mU/Release
/mU/Debug
/Number/Release
/Number/Debug
/Parser/Debug
/Parser/Release
/Polynomial/Release
/Polynomial/Debug
/Release
/String/Release
/String/Debug
/System/Release
/System/Debug
*.suo
*.sdf
/Kernel/Release
/Kernel/Debug
*.opensdf
/Combinatorics/Release
/Combinatorics/Debug
/Numeric/Debug
/Numeric/Release
/.svn
/.settings/.svn
/Calculus/.svn
/Combinatorics/.svn
/Include/.svn
/Include/mU/.svn
/Interface/.svn
/Kernel/.svn
/mU/.svn
/Number/.svn
/Numeric/.svn
/Parser/.svn
/Polynomial/.svn
/String/.svn
/System/.svn
/Test/.svn
/build