
/Debug
/Function/Debug
/Function/Release
/Interface/Debug
/Interface/Release
/ipch
/Lib
/mU/Release
/mU/Debug
/Number/Release
/Number/Debug
/Parser/Debug
/Parser/Release
/Polynomial/Release
/Polynomial/Debug
/Release
/String/Release
/String/Debug
/System/Release
/System/Debug
*.suo
*.sdf
/Kernel/Release
/Kernel/Debug
*.opensdf
/Combinatorics/Release
/Combinatorics/Debug
/Numeric/Debug
/Numeric/Release